.main-navbar {
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.main-navbar .logo {
    height: 40px;
}


.main-navbar-right {
    display: flex;
    align-items: center;
    gap: 40px;
}

.main-navbar button {
    background: transparent;
    font-size: 18px;
    color: #49557e;
    border: 1px solid tomato;
    padding: 9px 30px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.main-navbar button:hover {
    background-color: #fff4f2;
}
