.booking {
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}


.booking button {
    margin: 10px 20px;
    padding: 10px 15px;
    border-radius: 10px;
    background-color: aquamarine;
    border: none;
    cursor: pointer;
}

.booking button:hover {
    background-color: #38ffbd;
}