.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 50px);
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;

}

