@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 90px;
    font-family: 'Montserrat', sans-serif;
    z-index: 1000;

    .nav-logo-container {
        max-width: 150px;
    }

    .navbar-links-container a {
        margin-right: 3rem;
        text-decoration: none;
        color: black;
        font-size: 1.8rem;
        font-weight: 600;
    }

    .navbar-menu-container {
        display: none;
    }

    .navbar-menu-container svg {
        font-size: 1.5rem;
        cursor: pointer;
    }

    .login-button {
        padding: 0.9rem 1.75rem;
        font-family: 'Montserrat', sans-serif;
        background-color: white;
        outline: none;
        border: none;
        border-radius: 5rem;
        font-size: 1.8rem;
        cursor: pointer;
        font-weight: 600;
        transition: 0.2s;
    }

    .login-button:hover {
        background-color: rgb(234, 234, 234);
    }
}

.navbar-cart-icon {
    font-size: 1.15rem;
}